// Place all the styles related to the api/CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-container {
  max-width: 1250px;
  margin: 0px auto 90px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 650px;
  font-family: 'Overpass', sans-serif;
  background-color: red;
}

.cart-index-coantiner {
  width: 800px;
  display: flex;
  flex-direction: column;
}