
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 756px;
  background-color: black;
  position: relative;
  z-index: 3;
  width: 100%;
  justify-content: flex-start;
  color: white;
}



.footer-top-links {
  display: flex;
  align-items: flex-start;
  width: calc(100% - 180px);
  height: 177px;
  justify-content: space-between;
  color: rgb(129, 129, 129);
}

.footer-send-link-box {
    width: calc(100% - 160px);
    background-color: black;
    position: relative;
    border: 1px solid white;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.platform-links {
  display: flex;
  margin-top: 47px;
  display: flex; 
  align-content: center;
  
}


.platform-link-boxes {
   display: flex;
   height: 40px;
    width: 40px;
    border: 1px solid rgb(129, 129, 129);
    align-items: center;
    justify-content: center;
    margin: 0 0 0 16px;
}