

.hero-img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 660px;
    text-align: center;
    margin-top: -9px;
    background: url(https://cms-cdn.goat.com/1500/3fc3edd34736-c14a-9e11-2a5d-0570efc3) center center / cover rgb(255, 255, 255);
    padding: 24px;
    background-position: center center;
    overflow: hidden;
    color: white;
}

@media screen and (max-width: 740px) {
 .hero-img-container {
    padding: 24px;
 }
}

// @media (min-width: 40em) {
// .hero-img-container {
//     height: 56.25vw;
//     max-height: 700px;
//     text-align: left;
//     padding: 90px;
//     background: url(https://cms-cdn.goat.com/750/3fc3edd34736-c14a-9e11-2a5d-0570efc3) center center / cover rgb(225, 225, 225);
//  }
// }


.hero-img-cntainer > div {
  position: absolute;
    bottom: 40px;
    left: 24px;
    right: 24px;
}

.hero-img-subheader {
  position: absolute;
  bottom: 130px;
  left: 90px;
  font-size: 12px;
  text-transform: uppercase;
}


.hero-model {
  position: absolute;
  bottom: 80px;
  left: 90px;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
}

.feature-link {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    content: "";
    cursor: pointer;
}


.hero-cta {
  cursor: pointer;
  position: absolute;
  bottom: 80px;
  right: 90px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 15px 50px;
}

.hero-cta:hover {
  text-decoration: underline;
}