.search-container {
  display: flex;
}


.search-bar-container {
  width: 1000px;
  border: 1px solid black;
  margin: auto;
  margin-top: 10px;
  padding: 90px 0px;
}

.search-bar {
  margin: 0px 65px;
}
.search-input {
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
  font-size: 36px;
  font-weight: 870px;
  letter-spacing: 3px;
  text-align: center;
  width: 100%;
  border: none;

}