
.sneaker-show-main {
  display: flex;
  flex-direction: column;
}

.sneaker-show-container {
  display: flex;
  height: calc(100vh - 160px);
  max-width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  min-height: 600px;
  width: calc(100% - 160px);
  // background: red;
  align-self: center;
}

.sneaker-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 50%;
  border-right: 1px solid black;

}

.sneaker-image {
  margin-top: 20%;
  max-width: 100%;
  object-fit: contain;
  align-self: center;
  max-height: 30%;

}

.sneaker-deets-path {
    display: flex;
    color: rgb(84, 84, 84);
    text-transform: uppercase;
    font-size: 12px;
    align-self: center;
    overflow: hidden;
  }

  #sneaker-deets {
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    bottom: 10%;
  }


.sneaker-deets-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}


.sneaker-profile-container {
  margin: auto;
  width: 100%;
}


.sneaker-profile {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  font-size: 24px;
  padding: 0px 105px 35px;
}

.buy-new-button {
  cursor: pointer;
  border-top: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  bottom: 0;
  width: 50%;
  text-align: center; 
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 15px 0px;
}

.buy-used-button {
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  text-align: center; 
  color: #D3D3D3;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 15px 0px;

}

.buy-new-button:hover {
  text-decoration: underline;
  color: white;
  background-color: black;
}


.sneaker-description-container {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 text-align: center;
 align-self: center;
 align-items: center;
 margin-bottom: 65px;
 width: 50%;
}

.sneaker-description-button {
  height: 90px;
  position: relative;
  width: 100px;
  padding-top: 20px;

}

.sneaker-description-button > span {
  font-weight: bold;
  margin-right: 6px;
  letter-spacing: 1.7px;
}

.sneaker-description-button:hover {
  cursor: pointer;
}

.sneaker-description-title {
  margin: 24px 0px 10px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.7px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.sneaker-description {
  line-height: 1.56;
  font-size: 17px;
  font-family: GT-Sectra-Book;
  letter-spacing: .1px;
  
}

.sneaker-props-table {
  width: 80%;
  margin: 0px auto 90px;
  border-top: 1px solid #D3D3D3;
}

.sneaker-prop {

  display: flex;
  justify-content: space-between;
  padding: 12.5px;
  border-bottom: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  border-right: 1px solid #D3D3D3;
  font-family: 'Overpass', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 11px;
  color: #777777;
}
